---
title: MediaMonkey Setup Guide
pageTitle: Setup Guide
---
<div style="overflow:hidden; margin-bottom:15px">
<div class="helplinks hl2">
	<div class="inner">
		<div style="float:right;">
			<span class="os">
				<a href="/help/mediamonkey/" class="selected">WP7</a>
				<a href="/help/mediamonkey/wp8/">WP8</a>
			</span><!--
		 --><span class="app">
				<a href="/help/itunes/" class="main">
					<img src="/images/app-itunes.png" class="unitPng" width="50" height="42" />
					<span>iTunes</span><!--
			 --></a>
			</span><!--
		 --><span class="app">
				<a href="/help/foobar/" class="main">
					<img src="/images/app-foobar.png" class="unitPng" width="50" height="42" />
					<span>Foobar2000</span>
				</a>
			</span><!--
		 --><span class="app selected">
				<a href="/help/mediamonkey/" class="main">
					<img src="/images/app-mediamonkey.png" class="unitPng" width="50" height="42" />
					<span>MediaMonkey</span>
				</a>
			</span>
		</div>
		<div class="inst">
			<h2>MediaMonkey Setup Guide</h2>
		</div>
	</div>
</div>
</div>
<p>
	<strong>These instructions are for the WP7 version of Remote.</strong>
	<a href="/help/mediamonkey/wp8/">Click here for WP8 instructions.</a>
</p>
<div class="instructions">
<div class="step">
<div class="img">
	<img src="/images/instructions/mediamonkey-monkeytunes-install.png" class="abs win" />
</div>
<h3>1. Download and install <a href="https://melloware.com/monkeytunes/" target="_blank">MonkeyTunes</a></h3>
<div class="details">
	<a href="https://melloware.com/monkeytunes/" target="_blank">MonkeyTunes</a> is a commercial plugin for MediaMonkey, written by <a href="https://melloware.com/" target="_blank">Melloware</a>.  A fully-functional trial version is available.  <!--This plugin also allows you to use other compatible remote applications (for iOS and Android devices) with MediaMonkey.-->
</div>
<div class="details">
	Remote requires MonkeyTunes 1.5.0 or later for full compatibility.
</div>
<div class="details">
	After the MonkeyTunes installation has completed, open MediaMonkey.
</div>
</div>
<div class="step">
<div class="img">
	<img src="/images/instructions/mediamonkey-pairingutility-1.png" class="abs win" />
</div>
<h3>2. Download and run the Pairing Utility</h3>
<div class="buttonwrapper bw2" style="overflow:hidden;">
<a href="/files/Win_iTunesPairingUtility_{{ data.pairingUtility.win.version }}.exe" class="win">
	<img src="/images/dl-win.png" width="60" height="64" class="unitPng" />
	<div>
		<h3>Download for Windows</h3>
		<span>{{ data.pairingUtility.win.supports }}</span>
		<span>{{ data.pairingUtility.win.size }} &nbsp;&nbsp;&ndash;&nbsp;&nbsp; v{{ data.pairingUtility.win.version }}</span>
	</div>
</a>
</div>
<div class="details">
	&nbsp;
	<h4><a href="#" id="q1a">I receive an error message about Bonjour or the Pairing Utility doesn't open</a></h4>
	<div class="issue" id="q1b" style="position:relative;">
		<div>The Bonjour service is necessary for both foo_touchremote and the Pairing Utility to work correctly. <a href="https://support.apple.com/kb/DL999" target="_blank">Download it here</a> from Apple and try running the Pairing Utility again.</div>
	</div>
	<script type="text/javascript">
		$('#q1b').hide();
		$('#q1a').click(function () {
			$('#q1b').slideToggle();
			return false;
		});
	</script>
</div>
</div>

<div class="step">
<div class="img">
	<img src="/images/instructions/mediamonkey-device.png" class="abs win" />
</div>
<h3>3. Click "Windows Phone Device" in MediaMonkey</h3>
<div class="details">This will appear under the "MonkeyTunes" header on the left side of the window.</div>
</div>

<div class="step">
<div class="img">
	<img src="/images/instructions/mediamonkey-wp7-pin.png" class="abs win" />
</div>
<h3>4. Enter the passcode from the Pairing Utility</h3>
</div>

<div class="step">
<div class="img">
	<img src="/images/instructions/mediamonkey-pairingutility-2.png" class="abs win" />
</div>
<h3>5. Confirm that pairing completed successfully</h3>
<div class="details">The Pairing Utility will display your library's name and a PIN to be entered on your phone.</div>
</div>

<div class="step">
<div class="img"><img src="/images/instructions/remote-firstrun.png" class="abs" /></div>
<h3>6. Open Remote and tap "Add Library"</h3>
<div class="details">
	Once installed, Remote will appear in the list of applications on your phone.
	<br /><br />
	If you haven't purchased or installed Remote, click here to open it in the Windows Phone Marketplace:
<div align="center" style="margin: 20px 0;"><a href="{{ data.links.marketplace }}" target="_blank"><img src="{{ data.badges.large }}" /></a></div>
</div>
</div>

<div class="step">
<div class="img">
	<img src="/images/instructions/mediamonkey-wp7-pinentry.png" class="abs win" />
</div>
<h3>7. Enter the host and PIN and tap "Save"</h3>
<div class="details">
	Remote will save the library details and connect to MediaMonkey.
</div>
</div>

</div>
<p><strong>If you have any trouble using the pairing utility or connecting your phone, please check the <a href="/troubleshooting">troubleshooting page</a> or <a href="{{ data.links.contact }}">contact us</a> for support.</strong></p>
