<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{% if title %}
	<title>Remote for Windows Phone &mdash; {{ title }}</title>
{% else %}
	<title>Remote for Windows Phone</title>
{% endif %}
<link rel="stylesheet" href="/css/style.css?2" type="text/css" media="screen" />
<!-- Mobile -->
<link rel="stylesheet" type="text/css" href="/css/mobile.css" media="screen and (max-device-width: 480px)" />
<!--[if IEMobile 7]>
<link rel="stylesheet" type="text/css" href="/css/mobile.css" media="screen"  />
<![endif]-->
<link rel="image_src" href="https://wp8remote.com/images/RemoteIcon.png" />
<meta name="description" content="With Remote, you can control iTunes from your Windows Phone device.">
<meta name="keywords" content="iTunes, remote, windows phone, windows phone 8, iTunes remote, windows phone 8 app">
</head>

{% if shortPage %}
	<body>
{% else %}
	<body class="longpage">
{% endif %}

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.cycle.all.min.js?3.0.3"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26371738-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

{% if shortPage %}
	<div class="fl">&nbsp;</div>
{% endif %}
<div class="content-w">
	{% if showPhone %}
		<div class="phonepreview unitPng" id="phone">
			<div id="s1" class="phoneimageslide">
				<img src="/images/ss/en.WP8.01.web.png" />
				<img src="/images/ss/en.WP8.02.web.png" style="display:none;" />
				<img src="/images/ss/en.WP8.03.web.png" style="display:none;" />
				<img src="/images/ss/en.WP8.04.web.png" style="display:none;" />
				<img src="/images/ss/en.WP8.05.web.png" style="display:none;" />
				<img src="/images/ss/en.WP8.06.web.png" style="display:none;" />
				<img src="/images/ss/en.WP8.07.web.png" style="display:none;" />
				<img src="/images/ss/en.WP8.08.web.png" style="display:none;" />
			</div>
			<div id="s1cont" class="phoneimageslidecontrols" style="display:none;">
				<a href="#" class="l" id="slide-left"><img src="/images/slide-left.png" width="40" height="32" /></a>
				<a href="#" class="r" id="slide-right"><img src="/images/slide-right.png" width="40" height="32" /></a>
			</div>
			<script type="text/javascript">
				$('#s1').cycle({
					fx: 'scrollHorz',
					easing: 'easeOutQuart',
					delay: -2000,
					speed: 300,
					next: '#slide-right',
					prev: '#slide-left'
				});

				$('#phone').hover(
					function() { $('#s1cont').fadeIn('fast'); $('#s1').cycle('pause'); },
					function() { $('#s1cont').fadeOut('fast'); $('#s1').cycle('resume'); }
				);
			</script>
		</div>
	{% endif %}
	<div class="head">
		{% if pageTitle or title %}
			<div class="pagetitle">
				{{ pageTitle or title }}
			</div>
		{% endif %}
		{% if showUtilityLink %}
			<div class="utilitylink">
				<a href="/utility">Download Pairing Utility</a>
			</div>
		{% endif %}
	<a href="/"><img src="/images/remote-logo.png" height="73" width="270" /></a>
	</div>
	<div class="content">
		{{ content | safe }}
	</div>
	<div class="footer">
		<a href="https://komodex.com/" class="komolink"><img src="/images/komodex-38.png" /></a>
		<div>
			<a href="/">Home</a> -
			<a href="/news">News</a> -
			<a href="/utility">Pairing Utility</a> -
			<a href="/help">Setup Guide</a> -
			<a href="{{ data.links.contact }}">Contact</a> -
			<span class="twitterlink">
				<a href="https://twitter.com/WP7Remote">
					<span class="i unitPng">&nbsp;</span>
					<span class="t">Twitter</span>
				</a>
			</span>
		</div>
		{% if not hideBottomMarketLink %}
			<a href="{{ data.links.marketplace }}" target="_blank" style="float:right"><img src="{{ data.badges.small }}" /></a>
		{% endif %}
	<div class="copy"><em>Copyright <script>document.write(new Date().getFullYear())</script> Komodex Systems LLC. All rights reserved. All trademarks are the property of their respective owners.</em></div>
	</div>
</div>
</body>
</html>
