---
title: News
---
<h2>Product News &amp; Updates</h2>
<h3>Version 2.2.5</h3>
<ul>
	<li><strong>Added Composers view.</strong></li>
	<li>Fixed an issue with artist names when browsing albums on newer versions of iTunes.</li>
</ul>
<hr />
<h3>Version 2.2.4</h3>
<ul>
	<li>Fixed some issues with Bonjour and pairing.</li>
	<li>
		<p>Fixed some response parsing issues.</p>
		<p>
			<em>
				Note: It is now possible to pair with Apple TV gen. 2 and 3 devices, but support for these devices is considered &ldquo;experimental&rdquo; at this time.
				We plan on adding support for more Apple TV features, including a virtual &ldquo;trackpad&rdquo; interface, in a future update to Remote for WP (v2.3).
			</em>
		</p>
	</li>
</ul>
<hr />
<h3>Version 2.2.3</h3>
<ul>
	<li>Fixed an issue with Wi-Fi detection on Windows Phone 8.1.</li>
	<li>Fixed some other minor bugs.</li>
</ul>
<hr />
<h3>Version 2.2.2</h3>
<ul>
	<li>Improved support for 1080p devices.</li>
	<li>Fixed a crash when browsing Internet Radio stations.</li>
</ul>
<hr />
<h3>Version 2.2.1</h3>
<ul>
	<li>Fixed an issue that caused Remote to lose paired libraries in certain situations.</li>
	<li>Fixed some crashes and other bugs.</li>
</ul>
<hr />
<h3>Version 2.2</h3>
<ul>
	<li><strong>iTunes Radio</strong> &ndash; Added support for browsing iTunes Radio stations and selecting &ldquo;play more like this&rdquo; and &ldquo;never play this song&rdquo;.</li>
	<li><strong>Genius Shuffle</strong> &ndash; Available from the application bar at the bottom of the Browse Library page.</li>
	<li>Modified behavior when adding items to the play queue. Remote no longer automatically opens the Now Playing page when adding items to the queue. The Now Playing page can still be accessed from the application bar at the bottom of Browse pages.</li>
	<li>Improved initial pairing reliability and compatibility with Avahi (and forked-daapd) by prioritizing the correct IP address in Bonjour.</li>
	<li>Fixed a crash caused by browsing to albums with no artist names.</li>
	<li>Fixed an issue with special characters in artist names on Foobar2000.</li>
	<li>Fixed a few other crashes.</li>
</ul>
<hr />
<h3>Version 2.1.1</h3>
<ul>
	<li>Fixed an issue with albums playing out of order.</li>
	<li>Fixed an issue with removing items from the play queue on WP7.</li>
	<li>Fixed a few crashes.</li>
	<li>Added experimental support for forked-daapd.</li>
</ul>
<hr />
<h3>Version 2.1</h3>
<ul>
	<li><strong>Podcasts, TV Shows, and Movies</strong> &ndash; improved appearance and functionality.</li>
	<li><strong>Additional media types</strong> &ndash; added support for Audiobooks, iTunes U, and Internet Radio.</li>
	<li><strong>Shared libraries</strong> &ndash; Remote now allows you to browse and select media from shared iTunes libraries.</li>
	<li><strong>Automatic Wake-on-LAN</strong> &ndash; Remote now attempts to wake your computer when connecting.</li>
	<li>Improved search functionality.</li>
	<li>Added support for playlist folders.</li>
	<li>Added support for HTTP compression (gzip).</li>
	<li>Fixed an issue with removing items from the play queue.</li>
	<li>The currently playing song is now indicated with a speaker icon.</li>
	<li>Unchecked songs now appear dimmed.</li>
	<li>Added a navigation bar to the bottom of all library pages.</li>
	<li>Other bug fixes.</li>
</ul>
<hr />
<h3>Version 2.0.2</h3>
<ul>
	<li>Fixed a few crashes.</li>
	<li>Minor display improvements.</li>
</ul>
<hr />
<h3>Version 2.0.1</h3>
<ul>
	<li>The draggable play position bar and star rating controls have been added back to the Now Playing page.</li>
	<li>Improved library connection behavior when opening the app.</li>
	<li>Fixed some reconnection issues when navigating back into the app.</li>
</ul>
<hr />
<h3>Version 2.0</h3>
<ul>
	<li><strong>Now enhanced for WP8</strong> &ndash; high resolution images and improved performance on WP8 devices.</li>
	<li>
		<strong>Bonjour</strong> &ndash; Remote now uses Bonjour to automatically adapt to network changes, making pairing easier and more reliable.
		<ul style="margin-top: 0.4em">
			<li><strong>WP8:</strong> Pairing can now be completed within the app, with no separate utility needed.</li>
			<li><strong>WP7:</strong> The pairing utility is still needed for WP7 devices, but pairing is now easier and no longer requires you to enter your computer's hostname.</li>
		</ul>
	</li>
	<li><strong>iTunes 11 Play Queue</strong> &ndash; Tap and hold songs, artists, or albums to add them to the play queue. Tap the song name on the Now Playing page to view a list of upcoming songs.</li>
	<li>Significant performance improvements when loading large playlists, video/TV show libraries, etc.</li>
	<li>A new Now Playing page and other UI improvements.</li>
</ul>
<hr />
<h3>Version 1.9.2</h3>
<ul>
	<li>Fixed Wi-Fi detection issues with Windows Phone 8 devices.</li>
	<li>Fixed some reconnection issues.</li>
</ul>
<hr />
<h3>Version 1.9.1</h3>
<ul>
	<li><strong>Fixed issues with iTunes 11</strong> &ndash; fixed play queue issues with artists, albums, and songs.</li>
	<li>Numerous bug fixes throughout the application.</li>
</ul>
<hr />
<h3>Version 1.9</h3>
<ul>
	<li><strong>Improved library reconnection behavior</strong> &ndash; Remote will now wait for a WiFi connection to become available before attempting to connect or reconnect to your library.</li>
	<li><strong>Added trial mode</strong> &ndash; Remote now offers a fully-functional 7-day trial.
	<li>Fixed search result ordering.</li>
	<li>Other minor bug and appearance fixes.</li>
</ul>
<hr />
<h3>Version 1.8</h3>
<ul>
	<li><strong>Now enhanced for WP7 Mango</strong> &ndash; improved list scrolling performance throughout the application.</li>
	<li>Fixed some issues with the German translation.</li>
	<li>Other minor bug fixes.</li>
</ul>
<hr />
<h3>Version 1.7</h3>
<ul>
	<li><strong>Added German localization/Deutsche Lokalisierung hinzugefügt.</strong></li>
	<li>Other minor bug fixes.</li>
</ul>
<hr />
<h3>Version 1.6</h3>
<ul>
	<li><strong>Added Genius Mixes to the list of playlists.</strong></li>
	<li>Fixed an issue where attempting to play a deleted song would cause Remote to reconnect.</li>
	<li>Fixed the &ldquo;play&rdquo; button the genre list.</li>
	<li>Fixed an occasional crash during resume from standby.</li>
	<li>Other minor fixes.</li>
</ul>
<hr />
<h3>Version 1.5</h3>
<ul>
	<li><strong>Added &ldquo;genres&rdquo; pivot item to the Browse Library page.</strong></li>
	<li><strong>Added &ldquo;shuffle all&rdquo; buttons to album, artist, playlist, and genre pages.</strong></li>
	<li><strong>Added &ldquo;shuffle all songs&rdquo; menu item to the Browse Library page.</strong></li>
	<li>Fixed a bug where list items would disappear after navigating back to a page.</li>
	<li>Added optional &ldquo;extended error reporting&rdquo; setting for more verbose error logging/reporting.  Please <a href="{{ data.links.contact }}">contact us</a> if you are having trouble with Remote so we can continue to improve the application.</li>
</ul>
<hr />
<h3>Version 1.4</h3>
<ul>
	<li><strong>Added the ability to view and modify the star rating for the currently playing song</strong></li>
	<li>Bug fixes/performance improvements.</li>
</ul>
<hr />
<h3>Version 1.3</h3>
<ul>
	<li>
		<p>
			<strong>Added support for Foobar2000 and MediaMonkey.</strong>
			Requires <a href="http://wintense.com/plugins/foo_touchremote" target="_blank">foo_touchremote</a> for Foobar2000
			or <a href="http://melloware.com/monkeytunes/" target="_blank">MonkeyTunes</a> for MediaMonkey.
		</p>
	</li>
	<li>Fixed crash with empty artist names.</li>
	<li>Misc. bug fixes.</li>
</ul>
<hr />
<h3>Version 1.2</h3>
<ul>
	<li><strong>Added option to stay connected to iTunes while the phone is locked.</strong></li>
	<li>Added Settings page.</li>
	<li>Minor UI improvements.</li>
</ul>
<hr />
<h3>Version 1.1</h3>
<ul>
	<li><strong>Added AirPlay control support.</strong> Tap the icon next to the volume bar on the Now Playing page to control which speakers iTunes sends music to.</li>
	<li><strong>Added movies, TV shows, and podcasts.</strong></li>
	<li>Fixed issue where the reconnecting screen would appear approx. every 60 seconds.</li>
	<li>Fixed issue where the Now Playing page wouldn't be displayed after picking a song on slower networks.</li>
	<li>Fixed issues with changing the volume and play position on slower networks.</li>
	<li>The Choose Library page now displays the host and PIN for each library for easier identification.</li>
	<li>List and other miscellaneous performance improvements.</li>
	<li>
		<p>Added experimental support for alternate (non-iTunes) DACP servers. Enter a port with the host name (e.g., 192.168.0.100:3690) to connect to a DACP server on an alternate port and disable the iTunes version check.</p>
		<p><em>Note: we do not officially support using Remote with applications other than iTunes 10.1+ at this time.  Please <a href="{{ data.links.contact }}">contact us</a> for more information.</em></p>
	</li>
</ul>
<hr />
<h3>Version 1.0</h3>
<ul>
	<li>Initial release.</li>
</ul>
