---
title: Pairing Utility
shortPage: true
---
<h2>Download Pairing Utility</h2>
<p>
	This utility configures iTunes to allow connections from your phone.
	Once you have paired your phone with iTunes, the Pairing Utility is no longer needed and can be deleted from your computer.
</p>
<p>
	Your phone must be connected to your local network via Wi-fi to control iTunes.
</p>
<div class="buttonwrapper bw1" style="margin:25px 0 20px;">
	<a href="/files/Win_iTunesPairingUtility_{{ data.pairingUtility.win.version }}.exe">
		<img src="/images/dl-win.png" width="60" height="64" class="unitPng" />
		<div>
			<h3>Download for Windows</h3>
			<span>{{ data.pairingUtility.win.supports }}</span>
			<span>{{ data.pairingUtility.win.size }} &nbsp;&nbsp;&ndash;&nbsp;&nbsp; v{{ data.pairingUtility.win.version }}</span>
		</div>
	</a>
	<a href="/files/Mac_iTunesPairingUtility_{{ data.pairingUtility.mac.version }}.zip">
		<img src="/images/dl-mac.png" width="60" height="64" class="unitPng" />
		<div>
			<h3>Download for Mac OS X</h3>
			<span>{{ data.pairingUtility.mac.supports }}</span>
			<span>{{ data.pairingUtility.mac.size }} &nbsp;&nbsp;&ndash;&nbsp;&nbsp; v{{ data.pairingUtility.mac.version }}</span>
		</div>
	</a>
</div>
<div class="helplinks hl1">
	<span class="inner">
		<span class="inst">
			<h3>Setup Guide</h3>
			<span>Select an application:</span>
		</span><!--
	 --><span class="app">
			<a href="/help/itunes/" class="main">
				<img src="/images/app-itunes.png" class="unitPng" width="50" height="42" />
				<span>iTunes</span><!--
		 --></a>
		</span><!--
	 --><span class="app">
			<a href="/help/foobar/" class="main">
				<img src="/images/app-foobar.png" class="unitPng" width="50" height="42" />
				<span>Foobar2000</span>
			</a>
		</span><!--
	 --><span class="app">
			<a href="/help/mediamonkey/" class="main">
				<img src="/images/app-mediamonkey.png" class="unitPng" width="50" height="42" />
				<span>MediaMonkey</span>
			</a>
		</span>
	</span>
</div>
<p><strong>If you have any trouble using the pairing utility or connecting your phone to iTunes, please <a href="{{ data.links.contact }}">contact us</a> for assistance.</strong></p>
